<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='main.js')}}"></script>
    </head>
    <body>
        <h1>Accomplishment Diary</h1>
        <div id="content">
            <div id="accomplishments">
            </div>
            <form id="add-accomplishment">
                <div>
                    <label for="input-date">Date:</label>
                    <input type="date" name="date" id="input-date">
                </div>
                <div>
                    <label for="input-desc">Description:</label>
                    <input type="text" name="description" id="input-desc">
                </div>
                <div>
                    <label for="input-is-planned-yes">Is Planned</label>
                    <input type="radio" name="is_planned" id="input-is-planned-yes" value="true" checked>
                    <label for="input-is-planned-no">Not Planned</label>
                    <input type="radio" name="is_planned" id="input-is-planned-no" value="false">
                <div>
                    <label for="input-status">Status</label>
                    <input type="number" name="status" id="input-status">
                </div>
                <button id="submit-button" type="button">Submit</button>
            </form>
        </div>
    </body>
</html>