*
{
    font-family: Arial, Helvetica, sans-serif;
}

textarea
{
    height: 100px;
}

#center-view
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#task-view
{
    flex-grow: 2;
    max-width: 70%;
}

#sidebar
{
    flex-grow: 1;
    max-width: 30%;
}

.entry-text-field
{
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
}

.entry-checkbox-field
{
    display: flex;
    flex-direction: row;
    margin: 1em 0em;
}

.task
{
    margin-bottom: 2em;
}
