*
{
    font-family: Calibri, Helvetica, sans-serif;
}

/* Overriding default browser CSS */
p, h3
{
    margin: 0;
}

/* TODO: unsure if this is the way I'll end up going */
button
{
    height: 1.6em;
}

select
{
    height: 1.6em;
}

#content
{
    min-width: 800px;
    max-width: 95%;
    margin: auto;
}

#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 80px;
    background-color: white;
}

#center-view
{
    margin-top: 80px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#date-view-container
{
    width: 70%;
}

#sidebar
{
    width: 25%;
}

/* header */
.sticky-header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid lightgray;

    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header-sidebar-toggle-btn
{
    margin-left: 1em;
}

.header-other
{
    min-width: 700px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 1em;
    margin-right: 1em;
}

.header-date-selector
{
    font-size: 2em;
    font-weight: bold;
    border: none;
    text-align: right;
}

.header-date-selector:focus
{
    outline: none;
}

/* form entry components */
.entry-multi-row-field
{
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
}

.entry-single-row-field
{
    display: flex;
    flex-direction: row;
    margin: 1em 0em;
}

.entry-single-row-field > :first-child
{
    margin-right: 0.25em;
}

.entry-textarea
{
    height: 100px;
}

/* task components */
.task
{
    margin-bottom: 1em;
}

.task-always-shown
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-name-goal-container
{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-name
{
    width: 70%;
}

.task-flush-right-container
{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.task-flush-right-container > :first-child
{
    margin-right: 1em
}

.task-notes
{
    max-width: 70%;
    white-space: pre-line;
}

.task-hideable-container
{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-modification-container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.task-modification-container > :first-child
{
    margin-right: 0.5em;
}

/* modal components */
.modal
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content
{
    width: 30%;

    border: 2px solid black;
    padding: 1.5em;
    background-color: white;
}

.modal-content-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}